name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    env:
      DGMAN_TEST_DATABASE: localhost:9080
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 2

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version-file: go.mod
    
    # TODO: Convert to a matrix strategy to test multiple Dgraph versions
    - name: Set up Dgraph
      run: |
        wget https://github.com/hypermodeinc/dgraph/releases/download/v24.1.2/dgraph-linux-amd64.tar.gz
        tar -xvf dgraph-linux-amd64.tar.gz
        chmod +x dgraph
        ./dgraph zero &
        ./dgraph alpha &

    - name: Run coverage
      run: go test -race -coverprofile=coverage.out -covermode=atomic -p 1 -parallel 1

    - name: Upload coverage to Codecov
      run: bash <(curl -s https://codecov.io/bash)

